*{
    box-sizing: border-box;
}

body{
    background-image: url('images/bg-top.svg'), url('images/bg-bottom.svg');
    background-repeat: no-repeat;
    background-position: top right, left bottom;
    background-color: hsl(240, 78%, 98%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Montserrat";
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(90deg,
    hsl(236deg 72% 79%) 0%,
    hsl(237deg 67% 72%) 50%,
    hsl(237deg 63% 64%) 100%);
    transition: .4s;
  }
  
  .slider:hover{
    opacity: 0.7;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  
.heading{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .018rem;
    color: hsl(233, 13%, 49%);
    margin: 0 0 32px 0;
}

.pricing-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .02rem;
    color: hsl(234, 14%, 74%);
}

.section{
    margin-bottom: 32px;
}

.aside-holder{
    display: flex;
    justify-content: center;
    margin: 0 30px;
}

.aside-main{
    background-image: linear-gradient(145deg, hsl(236deg 72% 79%) 0%, hsl(237deg 67% 72%) 45%, hsl(237deg 63% 64%) 100%);
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.08);
    color: white;
    border-radius: 0.65rem;
    padding: 3.55rem 1.95rem;
    text-align: center;
    width: 100%;
    max-width: 350px;
    font-weight: 600;
}

.aside-basic{
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.08);
    background-color: white;
    color: hsl(233, 13%, 49%);
    border-radius: 0.65rem;
    padding: 2.05rem 1.95rem;
    font-size: 16px;
    text-align: center;
    width: 100%;
    max-width: 350px;
    font-weight: 600;
    margin: 1.5rem 0;
}

.aside-basic .money-holder {
  color: hsl(232, 13%, 33%);
}

.pricing-heading{
    font-size: 19px;
    font-weight: 600;
    margin: 0 0 10px;
}

.aside-button{
    cursor: pointer;
    background-image: linear-gradient(120deg, hsl(236deg 72% 79%) 0%, hsl(237deg 67% 72%) 45%, hsl(237deg 63% 64%) 100%);
    color: white;
    border: 0;
    border-radius: 0.4rem;
    width: 100%;
    height: 44px;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: .1rem;
    font-family: "Montserrat";
    margin-top: 12px;
}

.aside-button:hover{
    background-image: none;
    background-color: white;
    color: hsl(237, 63%, 64%);
    border: 1px solid black;
}

.main-button{
    cursor: pointer;
    background-color: white;
    color: hsl(237, 63%, 64%);
    border: 0;
    border-radius: 0.4rem;
    width: 100%;
    height: 44px;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: .1rem;
    font-family: "Montserrat";
    margin-top: 12px;
}

.main-button:hover{
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.hr{
    border: none;
    border-bottom: 1px solid lightgray;
}

.hr-main{
    border: none;
    border-bottom: 1px solid hsl(234, 14%, 74%);
}

.hr:last-child{
    margin-bottom: 32px;
}

.hr-main:last-child{
  margin-bottom: 32px;
}

.price{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.dollar{
  font-size: 38.4px;
}

.money{
  font-size: 70.4px;
  margin: 0;
}

.hidden{
  display: none;
}

.money-holder {
  margin-bottom: 23px;
}

@media (max-width: 900px), (max-height: 650px){

  body{
    justify-content: normal;
  }

  .heading{
    margin-top: 32px;
  }

  .aside-holder{
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 330px){
    .money{
      font-size: 65px;
    }
  }
}